
<div id = question>
  <%= @question %><br><br>
  <%= "-You "%><br><br>
</div>

<div id = answer>
  <%= @answer %><br><br>
  <%= "-Your coach" %><br><br>
</div>

<%= link_to "Ask a new question", ask_path %><br>

